@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply bg-slate-700 text-white flex divide-fuchsia-50;
}

.card {
    @apply p-4 rounded-lg shadow-lg hover:shadow-xl flex flex-col items-center bg-emerald-600;
}

.card-title {
    @apply text-2xl font-bold bg-inherit;
}

.card-description {
    @apply text-lg bg-inherit;
}

.card-subtext {
    @apply text-sm italic bg-inherit;
}

.download-button {
    @apply text-white font-bold py-2 px-4 rounded-lg bg-inherit hover:bg-emerald-700;
}

.card-image {
    /* Should auto size to 100% of the parent even if that means it's not square */
    size: 100%;
    /* Stretch to fill the parent */
    object-fit: cover;
    /* Center the image */
    object-position: center;
    /* Make it a circle */
    border-radius: 50%;

}


title {
    /* Hide it */
    position: absolute;
    left: -9999px;
    opacity: 0;
}